<!-- Next Stock Info table -->
<section class="section tile is-parent" style="padding-top: 2rem;">
  <p class="help is-danger" [ngStyle] ="{ display: hideNoStocksMessage ? 'none' : 'contents'}">
    No stock information available for the selected date range/company!
  </p>

  <table class="table" [hidden] ="stocksInfoHidden" style="border-style: solid;">
    <thead>
      <tr>
        <th style="padding-right: 4rem; padding-left: 3rem; text-align: center;" *ngFor="let col of stockInfoHeaders">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody >  <!--style="height: 150px; overflow-y: scroll;" -->
      <tr *ngFor="let data of stockInfo.stockDetails" style="text-align: center;">
        <td>
          {{data.stockID}}
        </td>
        <td>
          {{data.stockPrice | number : '1.2-2'}}
        </td>
        <td>
          {{data.priceAsOfDate}}
        </td>
        <td>
          {{data.priceAsOfTime}}
        </td>
      </tr>
    </tbody>
  </table>

</section>

<!-- Stock Min,max,avg -->
<div [hidden]="stocksInfoHidden">
  <section class="section" style="padding-top: 1.5rem; padding-bottom: 1rem;">
    <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">MIN</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.5rem; width: 50%;">
            <input class="input" type="text" placeholder="Minimum Price" readonly value="{{stockInfo.minStockPrice | number : '1.2-2'}}">
          </div>
        </div>
      </div>

      <label class="label" style="padding-top: 0.5rem;">MAX</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.5rem; width: 50%;">
            <input class="input" type="text" placeholder="Maximum Price" readonly value="{{stockInfo.maxStockPrice | number : '1.2-2'}}">
          </div>
        </div>
      </div>

      <label class="label" style="padding-top: 0.5rem;">AVG</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.5rem; width: 50%;">
            <input class="input" type="text" placeholder="Average Price" readonly value="{{stockInfo.avgStockPrice | number : '1.2-2'}}">
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">MAX</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.5rem; width: 30%;">
            <input class="input" type="text" placeholder="Maximum Price" readonly value="{{stockInfo.maxStockPrice}}">
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">AVG</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.5rem; width: 30%;">
            <input class="input" type="text" placeholder="Average Price" readonly value="{{stockInfo.avgStockPrice}}">
          </div>
        </div>
      </div>
    </div> -->

  </section>
</div>
