<!-- Next Stock Info table -->
<section class="section tile is-parent">
    <table class="table" [hidden] ="stocksInfoHidden">
      <thead>
        <tr>
          <th style="padding-right: 4rem; padding-left: 3rem" *ngFor = "let col of stockInfoHeaders">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let data of stockInfo.stockDetails">
          <td>
            {{data.stockPrice}}
          </td>
          <td>
            {{data.priceAsOfDate}}
          </td>
          <td>
            {{data.priceAsOfTime}}
          </td>
        </tr>
      </tbody>
    </table>
    
  </section>

  <!-- Stock Min,max,avg -->
  <div [hidden] ="stocksInfoHidden">
    <section class="section" style="padding-top: 3rem; padding-bottom: 1rem;">
      <div class="field is-horizontal">
        <label class="label" style="padding-top: 0.5rem;">MIN</label>
        <div class="field-body">
          <div class="field">
            <div class="control" style="padding-left: 1.5rem; width: 30%;">
              <input class="input" type="text" placeholder="Minimum Price" readonly value = "{{stockInfo.minStockPrice}}">
            </div>
          </div>
        </div>
      </div>
  
      <div class="field is-horizontal">
        <label class="label" style="padding-top: 0.5rem;">MAX</label>
        <div class="field-body">
          <div class="field">
            <div class="control" style="padding-left: 1.5rem; width: 30%;">
              <input class="input" type="text" placeholder="Maximum Price" readonly value = "{{stockInfo.maxStockPrice}}">
            </div>
          </div>
        </div>
      </div>
  
      <div class="field is-horizontal">
        <label class="label" style="padding-top: 0.5rem;">AVG</label>
        <div class="field-body">
          <div class="field">
            <div class="control" style="padding-left: 1.5rem; width: 30%;">
              <input class="input" type="text" placeholder="Average Price" readonly value = "{{stockInfo.avgStockPrice}}">
            </div>
          </div>
        </div>
      </div>
  
    </section>
  </div>