<!-- Register Company Html -->
<div class="container" style="width: 50%;" >
  <h3 class="title is-3">New Company Registration</h3>
  <div class="field">
    <label class="label">Company Code</label>
    <div class="control">
      <input class="input" type="text" #code placeholder="Unique company code" (input)="setCompanyProfile($event, 'CCD')">
    </div>
    
    <div class="buttons">
        <button class="button is-primary" (click)="findCompany()">Check Availability</button>
    </div>
    <p class="help is-danger" 
      [ngStyle] ="{ display: hideRegError ? 'none' : 'contents'}">
      This Company Code is already taken!
    </p>

    <p class="help is-success text-bold" 
      [ngStyle] ="{ display: companyCodeNotAvailable ? 'none' : 'contents'}">
      This Company Code is available.</p>
  </div>

  <div class="field">
    <label class="label">Company Name</label>
    <div class="control">
      <input class="input" type="text" #name placeholder="Name of the company."
        (input)="setCompanyProfile($event, 'CCM')">
    </div>
  </div>

  <div class="field">
    <label class="label">Company CEO</label>
    <div class="control">
      <input class="input" type="text" #ceo placeholder="Name of Company CEO" (input)="setCompanyProfile($event, 'CCO')">
    </div>
  </div>

  <div class="field">
    <label class="label">Company Turnover</label>
    <div class="control">
      <input class="input" type="text" #turnover placeholder="Turnover of the Company in Cr." (input)="setCompanyProfile($event, 'CTO')">
    </div>
  </div>

  <div class="field">
    <label class="label">Company Website</label>
    <div class="control">
      <input class="input" type="text" #website placeholder="Company Website" (input)="setCompanyProfile($event, 'CWS')">
    </div>
  </div>

  <div class="field">
    <label class="label">Stock Exchange</label>
    <div class="control">
      <input class="input" type="text" #stockEx placeholder="Stock Exhchange" (input)="setCompanyProfile($event, 'CSE')">
    </div>
  </div>

  <section class="section" style="padding-left: 0; padding-top: 2rem">
    <div class="field is-horizontal">
      <div class="buttons">
        <button class="button is-primary" (click)="registerNewCompany()">Register</button>
      </div> 
      
      <div class="buttons" style="padding-bottom: 1.4rem;padding-left: 3rem;">
        <button class="button is-hovered is-link is-light" (click) = "navigateToHome($event)">Back</button>
      </div>
    </div>

      <p class="help is-success text-bold" 
      [ngStyle] ="{ display: notRegistered ? 'none' : 'contents'}">
      Registration successful.</p>

      <p class="help is-danger text-bold" 
      [ngStyle] ="{ display: hideRegFailMessage ? 'none' : 'contents'}">
      Registration UnSuccessful.</p>
      
  </section>
</div>

  