<!-- Navbar section -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="100" height="28">
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item" >
          <button class="button is-hovered is-link is-light" (click) = "navigateToCompanyRegister($event)">Add Company</button>
        </div>
        <div class="navbar-item" style="padding-right: 10rem;">
          <button class="button is-hovered is-link is-light"
          [disabled] ="MakeHidden()"
          (click) = "navigateToCompanyManager($event)">Manage Company</button>
        </div>
  
        <div class="navbar-item has-dropdown is-hoverable " style="padding-right: 4rem; padding-left: 4rem;">
          <a class="navbar-link">
            {{companyDropDownSelection}}
          </a>
          <div class="navbar-dropdown" (click) = "onOptionsSelected($event)">
            <option class="navbar-item" *ngFor = "let company of listOfCompanies" [value] ="company.companyCode"
            (click) = "setCompanyListDropDownHeader($event, company.companyName)">
              {{company.companyName}}
            </option>            
          </div>
        </div>
  
        <div class="navbar-item" style="padding-left: 12rem;">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" #compnayCodeSearch placeholder="Company Code" (input) = "setCompanyCode($event)">
            </div>
            <div class="control">
              <button class="button is-info" [disabled] = "disableSearch" (click) = "initiateSearch()">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Fist Section : Company Code, Name, From and To Dates-->
  <section class="section" style="padding-top: 3rem; padding-bottom: 3rem;">
    <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">Company Code</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.5rem; width: 71%;">
            <input class="input" type="text" placeholder="Compnay Code" readonly value = "{{selectedCompanyInfo.companyCode}}">
          </div>
        </div>
      </div>

      <label class="label" style="padding-top: 0.5rem;">From</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-top: 0.5rem; padding-left: 2rem;">
            <input type="date" (change)="FromDateEntry($event)">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">Company Name</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1rem; width: 70%;">
            <input class="input" type="text" placeholder="Compnay Name" readonly  value = "{{selectedCompanyInfo.companyName}}">
          </div>
        </div>
      </div> 

      <label class="label" style="padding-top: 0.5rem;  padding-right: 1rem;">To</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-top: 0.5rem; padding-left: 2rem;">
            <input type="date" (change)="ToDateEntry($event)" >
          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- Next Section: Fetch Stocks button -->
  <section class="section"
  [ngStyle] ="{ display: showCompanyManagerScreen ? 'none' : 'contents'}">
    <div class="field is-horizontal" > 
      <div class="buttons" style="padding-right: 25rem;">
        <button class="button is-primary"  [disabled] = "stockFetchNotAllowed" (click) = "fetchStockInfo()">Fetch Stocks</button>
      </div>
    </div>
  </section>

  <!-- Stock Details Component call -->
  <app-stock-details
  [stocksInfoHidden] = "stocksInfoHidden"
  [stockInfo] = "stockInfo"
  ></app-stock-details>

  <!-- Show Company Manager Options -->
  <app-company-management
  [showCompanyManagerScreen] = "showCompanyManagerScreen"
  [companyCode] = "selectedCompanyInfo.companyCode"
  [stockID] = "selectedCompanyInfo.stockID"
  [isReadOnly] = "manageStockIDEntry"
  (showCompanyManagerScreenEvent) = "UpdateCompanyManagerScreenFlag($event)"
  ></app-company-management>