<div class="container">

  <!-- Navbar section -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="100" height="28">
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <button class="button is-hovered">Add Company</button>
        </div>
  
        <div class="navbar-item has-dropdown is-hoverable" style="padding-right: 4rem; padding-left: 4rem;">
          <a class="navbar-link">
            {{companyDropDownSelection}}
          </a>
          <div class="navbar-dropdown" (click) = "onOptionsSelected($event)">
            <option class="navbar-item" *ngFor = "let company of listOfCompanies" [value] ="company.companyCode"
            (click) = "setCompanyListDropDownHeader($event, company.companyName)">
              {{company.companyName}}
            </option>            
          </div>
        </div>
  
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" #compnayCodeSearch placeholder="Company Code" (input) = "setCompanyCode($event)">
            </div>
            <div class="control" (click) = "initiateSearch()">
              <a class="button is-info">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Fist Section : Company Code and Name -->
  <section class="section">
    <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">Company Code</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 1.3rem;">
            <input class="input" type="text" placeholder="Compnay Code" readonly value = "{{selectedCompanyInfo.companyCode}}">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">Company Name</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-left: 0.8rem;">
            <input class="input" type="text" placeholder="Compnay Name" readonly  value = "{{selectedCompanyInfo.companyName}}">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Next Section: Select Date range -->
  <section class="section">
    <div class="field is-horizontal">
      <label class="label" style="padding-top: 0.5rem;">From</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-top: 0.5rem; padding-left: 2rem;">
            <input type="date" (change)="FromDateEntry($event)">
          </div>
        </div>
      </div>
      <label class="label" style="padding-top: 0.5rem;  padding-right: 4rem;">To</label>
      <div class="field-body">
        <div class="field">
          <div class="control" style="padding-top: 0.5rem; padding-left: 2rem;">
            <input type="date" (change)="ToDateEntry($event)" >
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button is-primary" [disabled] = "stockFetchNotAllowed" (click) = "fetchStockInfo()">Fetch Stocks</button>
      </div>
    </div>
  </section>

  <!-- Next Stock Info table -->
  <section class="section">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor = "let col of stockInfoHeaders">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let data of stockInfo.stockDetails">
          <td>
            {{data.stockPrice}}
          </td>
          <td>
            {{data.priceAsOfDate}}
          </td>
          <td>
            {{data.priceAsOfTime}}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
